{
    "WLAN_SSID": "Deine Wlan Ssid",
    "WLAN_PASSWORD": "Dein Wlanpasswort",
    "API_BASE_URL": "Die Url deiner API",
    "PROJECT_PASSPHRASE": "Der Key deiner API",
    "SENSOR_ID_MAPPING": {
        "GPIO am Pico(Sensorpin)": "ID bei der API",
        "GPIO am Pico(Sensorpin)": "ID bei der API",
        "GPIO am Pico(Sensorpin)": "ID bei der API"

    }
}